.table-homes {
    padding: 15px 20px;
    position: relative;
    background-color: blue;
  
    th,
     td {
        border: 2px solid whitesmoke;
        width: 50px;
        height: 100px;
        color: whitesmoke;
        font-weight: 900;
        text-align: center;
    }
}